/* 文字顏色 */
.color-1 {color: #f298a9;}
.color-2 {color: #ffcd70;}
.color-3 {color: #F2DAAC;}
.color-4 {color: #4f350a;}
.color-5 {color: #F2F2F2;}

/* bgcolor */
.bgcolor-1 {background-color: #ffb7c4;}
.bgcolor-2 {background-color: #ffcd70;}
.bgcolor-3 {background-color: #F2DAAC;}
.bgcolor-4 {background-color: #402606;}
.bgcolor-5 {background-color: #F2F2F2;}

/* color透明0.8 */
.rgba-1 {background-color: rgba(255, 158, 176, 0.8);}
.rgba-2 {background-color: rgba(255, 205, 112, 0.8);}
.rgba-3 {background-color: #F2DAAC;}
.rgba-4 {background-color: #402606;}
.rgba-5 {background-color: #F2F2F2;}