/* 文字顏色 */
.color-1 {color: #ff9eb0;}
.color-2 {color: #ffcd70;}
.color-3 {color: #F2DAAC;}
.color-4 {color: #402606;}
.color-5 {color: #F2F2F2;}

/* bgcolor */
.bgcolor-1 {background-color: #ff9eb0;}
.bgcolor-2 {background-color: #ffcd70;}
.bgcolor-3 {background-color: #F2DAAC;}
.bgcolor-4 {background-color: #402606;}
.bgcolor-5 {background-color: #F2F2F2;}