body {
    background-image: url(../img/BGimg.png);
}

a {
    text-decoration: none;
    color: #d47082;
}

a:hover {
    color: #ab732e;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #ff9daf;
    color: #ffffff;
    font-size: 14px;
}

@media (min-width: 1200px) {
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav a {
        padding-left: 20px;
    }




    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        z-index: 2;
        margin: 0;
        position: fixed;
        top: 0;
    }

    .body-contents {
        margin-top: 58px;
    }

    #social img {
        width: 24px;
    }

    #social button {
        border: 0;
        background-color: transparent;
    }

    .ks {
        margin: 40px;
        width: 33%;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 36px;
        padding-right: 36px;
        border: 4px solid #f298a9;
        border-radius: 25px;
        height: auto;
        background-color: #ffffff;
    }

    .ks h2 {
        display: flex;
        justify-content: center;
        font-size: 24px;
        color: #d47082;
        margin-bottom: 30px;
    }

    .card div {
        margin-bottom: 25px;
    }

    .card {
        border: 0;
        background-color: transparent;
    }

    #info {
        display: flex;
        justify-content: space-between;
        padding: 36px;
        background-image: url(../img/BGimg.png);
    }

    #info img {
        width: 24px;
    }

    #franchise {
        border: 4px solid #f298a9;
        border-radius: 25px;
        margin: 30px 100px 60px 100px;
        background-color: #ffffff;
        padding: 36px;
        color: #d47082;
    }

    .zhenzhong {
        margin-top: 20px;
        margin-bottom: 20px;
        color: #d47082;
    }



}