body {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

@media (min-width: 1200px) {
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav a {
        padding-left: 20px;
    }


    nav a:hover {
        color: #ffcd70;
    }

    .tel a:hover {
        color: #ffcd70;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
        margin: 0;
    }

    #social img {
        width: 24px;
    }

    #social button {
        border: 0;
        background-color: transparent;
    }

    .slide {
        top: 60px;
    }

}