body{
    background-color: #F2F2F2;
}



.w100{
    width: 100%;
}

a {
    text-decoration: none;
}

.nav-links {
    font-size: 22px;
    margin-left: 20px;
}

#social img {
    width: 36px;
}

header{
    z-index: 10;
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    background-color: rgba(242, 242, 242, 0.8);
    box-sizing: border-box;
    /* 方法一：刪掉width 加上下方三行
    left: 0;
    right: 0;
    top: 0; */
    /* 方法二：加上box-sizing:border-box，讓內距&邊框包含在元素內 */
}


/* 小於767px */
@media (max-width:767px) {
    .main-mobile{
        display: block;
        /* 清除行內元素預設的間距 */
    }

    .main{
        display: none;
    }

    .btn-cancel{
        position: fixed;
        right: 30px;
        top: 30px;
        z-index: 4;
    }

    #social {
        position: fixed;
        right: 20px;
        bottom: 100px;
    }

    /* 社群圖示上下排列：方法一（把行內元素偽裝變成塊狀元素） */
    #social a {
        display: block;
        margin: 10px 0;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    #links {
        /* #links要是包住所有連結項目的框架
        1.它要設定裡面的連結上下排列
        2.而且要上下左右置中
        3.整個框架的背景顏色是半透明黑色
        4.和視窗同寬同高
        5.而且要重疊在所有元件上面 */
        display: none;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;/* 指定排列順序，一定要搭配position才有作用 */
    }

    #links div{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        padding: 20% 0;
        box-sizing: border-box; /* 為了把內距&邊框包含在所設定的寬高度裡面 */
    }
}

/* 大於768px */
@media (min-width:768px) {
    #contents>div{
        width: 100%;
        /* 因為父元素設定了flex，如果子元素的寬度超過了父元素，預設裡父元素會自動調整子元素的寬度，讓子元素並列成一排 */
        height: 150px;
        padding: 20px;
        box-sizing: border-box;
    }

    #contents{
        background-color: #77f0f2;
        width: 80%;
        margin: 0 auto; /* 塊狀元素有設定寬度時左右置中的方法 */
        position: absolute;
        /* bottom: -75px; */
        left: 0;
        right: 0;
        display: flex;
    }

    #contents-outer{
        position: relative;
    }

    .main{
        display: none;
    }

    .btn-cancel{
        display: none;
    }

    /* 社群圖示上下排列：方法二（把父元素設定為flex彈性框架） */
    #social {
        background-color: rgba(242, 242, 242, 0.58);
        height: 200px;
        /* 如果要上下置中就只能使用固定高度，如果沒有要使用上下置中就可以使用min-height最小高度 */
        display: flex;
        flex-direction: column;
        /* 把子元素的排列方向改成上下排列 */
        justify-content: space-between;
        /* 把子元素的對齊方法改成分散對齊 */
        /* 因為使用了flex-direction: column，改變了方向，所以使用了對齊的功能就必須對調
        （也就是要使用垂直對齊的時候要改用水平對齊，要使用水平對齊的時候要改用垂直對齊） */
        position: fixed;
        right: -40px;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 10px 50px 10px 10px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* 大於1400px */
@media (min-width:1400px) {
    .main{
        display: block;
        /* 除了1400px以上可以顯示影像之外也可以順便清除行內元素預設的間距 */
    }

    .main-mobile{
        display: none;
    }
    
    #social {
        background-color: transparent;
        height: auto;
        /* 因為在min-width: 768px有設定高度，所以1400px以上就要改回依內容自動調整高度 */
        display: block;
        position: static;
        padding: 0;
        margin: 0;
    }

    nav {
        display: flex;
        /* flex-direction: column-reverse; */
        /* justify-content: space-between; 水平對齊 */
        align-items: center;
        /* 垂直對齊 */
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}